body { font-family: tahoma; }
#loginForm  {
    display: none;
    background: #ccc;
    width: 250px;
    height: 100px;
    padding: 20px;
    color: #333;
}
#login {
    width: 290px;
    display:block;
    background:#069;
    color:#fff;
}
.label {
   cursor: pointer;
   display:block;
   padding: 5px 15px;
   font-size: 16px;
   font-weight: bold;    
}
.form-label {
    width: 70px;
    font-size: 12px;
    font-weight: bold;
}
.form-field {
    width: 180px;
}

.form-elements {
    font-size: 0px;
    margin: 10px 0 0 0;
    display: block;
}

.form-label, .form-field {
    display: inline-block;
}

.form-field input {
    padding: 3px 5px;
}

.submit-btn input {
    margin-left: 70px;
}
