#check{
	position: absolute;
	top:50px;
	left:27%;


}
#checksupp{
	border-collapse: collapse;


}
#checksupp tr{


}
#checksupp td th{
	padding: 50px;
    text-align: left;
    border-bottom: 1px solid #ddd;



}